@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.herocontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  color: #2a3342;
}
.herotitle {
  font-size: 50px;
  margin-top: 0px;
  text-align: left;
  font-weight: 900;
}
.leftside {
  width: 50%;
  margin-left: -20px;
  margin-top: -50px;
}
.rightside {
  width: 50%;
  position: relative;
  margin-top: 50px;
}
.mainimage {
  width: 560px;
  margin-top: 0px;
}

.circleimage {
  position: absolute;
  top: -50px;
  left: -50px;
}

.dotsimage {
  position: absolute;
  left: 475px;
  top: 420px;
}

.herotitle2 {
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
}
.caracteristicascontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 75px;
  color: #2a3342;
}
.caracteristicasmail {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.caracteristicasanalytics {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.caracteristicaspeople {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.iconos {
  background-color: #2ad167;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
.buttons {
  margin-left: -10px;
}
.botondemo {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #2ad167;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

.botonreg {
  color: #2a3342;
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #93a1b6;
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}
.nuevo {
  background-color: #2ad167;
  border-radius: 10px;
  font-size: 12px;
  width: 60px;
  text-align: center;
  margin-bottom: 0px;
}
