@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
}

.herocontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}
.herotitle {
  font-size: 50px;
}
.leftside{
  width: 50%;
}
.rightside {
  width: 50%;
  position: relative;
}
.mainimage {
  width: 560px;
  margin-top: 0px;
  margin-left: 306px;
}

.circleimage {
  position: absolute;
  top: -50px;
  left: 250px;
}

.dotsimage {
  position: absolute;
}

.herotitle2 {
  font-size: 40px;
  margin-top: 20px;
}
.caracteristicascontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.caracteristicasmail {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.caracteristicasanalytics {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.caracteristicaspeople {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.iconos {
  background-color: #2ad167;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  /*text-align: center;*/
  /*display: flex;*/
}

.botondemo {
 
  color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #2AD167;
    border: none;
}

.botonreg {
  color: #2a3342;
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
