@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
body{
    margin-left: 62px;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: -40px;
}

.logo :last-child {
    color: gray;
    font-weight: bold;
    font-size: 20px;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}
.login {
  margin-right: 30px;
}
.menu_central {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: #2A3342;
}

.menu_central li {
    margin-right: 20px;
}

.menu_central li a {
    text-decoration: none; 
    color: #2A3342; 
}

.ingresar-registrarse {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.login a:last-child {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #2AD167;
}

.login a:first-child {
    color: #2A3342; 
    text-decoration: none; 
    background-color: white; 
    padding: 5px 10px;
    border-radius: 5px;
}

.titulo h1{
    font-size: 50px;
    color: #2A3342;
}

.titulo h3{
    color: #2A3342;
}

.grid_precios{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   gap: 50px;
   border-radius: 5px;
   height: 30rem;
   max-width: 110rem;
   text-align: center;
   margin-top: 70px;
  
}

.grid_estilos{
    background-color: #F7F8F9;
    border-radius: 5px;
    padding-top: 20px;
   
}

.title_green{
    color:#2AD167
}

.subprice{
    font-size: 280%;
    color: #2A3342;
}

.title_grey{
    color: gray;
}

