@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/*.des_nav{
    display: inline-block;
}*/

.mobile-nav{
    display: none;
  }

body{
    margin-left: 60px;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    align-items: center; 
    margin-left: -40px;
}

.logo :last-child {
    color: gray;
    font-weight: bold;
    font-size: 20px;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.login {
  margin-right: 30px;
}
.menu_central {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: #2A3342;
}

.menu_central li {
    margin-right: 20px;
}

.menu_central li a {
    text-decoration: none; 
    color: #2A3342; 
}

.ingresar-registrarse {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.login a:last-child {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #2AD167;
}

.login a:first-child {
    color: #2A3342; 
    text-decoration: none; 
    background-color: white; 
    padding: 5px 10px;
    border-radius: 5px;
}

.titulo h1{
    font-size: 50px;
    color: #2A3342;
}

.titulo h3{
    color: #2A3342;
}

.grid_precios{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   gap: 50px;
   border-radius: 7px;
   /*height: 30rem;*/
   max-width: 110rem;
   text-align: center;
   margin-top: 70px;
}
.grid_precios h4{
    text-align: left;
    margin-left: 50px;
}

.grid_estilos{
    background-color: #F7F8F9;
    border-radius: 5px;
    padding-top: 20px;
}

.title_green{
    color:#2AD167
}

.subprice{
    font-size: 280%;
    color: #2A3342;
}

.title_grey{
    color: gray;
}

.checkmark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    stroke-width: 4;
    stroke: white;
    background:#2AD167;
    padding: 0px 5px 5px 0px;
    margin: 5px 5px -6px 10px;
  }

.button_demo{
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #2AD167;
    width: 80%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.footer{
    margin-top: 50px;
    width: 100%; 
    height: 230px; 
    background-color: #2A3242;
   
}

.logo_white{
    display: flex;
    align-items: center;
    
}
.logo_white img{
    width: 60px;
    margin-right: 10px; 
}

.logo_white :last-child{
    color: gray;
    font-weight: bold;
    font-size: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
   
}
.menu_footer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .menu_footer li {
    margin: 0 15px; 
  }
  
  .menu_footer a {
    text-decoration: none;
    color: #8F9EB2; 
  }

  .footer h5{
    color: #8F9EB2;
  }

  .menu_bar {
	display:none;
}

.mobile-logo img {
    width: 60px; 
}

.mobile-menu-icon {
    font-size: 24px; 
    cursor: pointer;
    flex-direction: column;
    color: white;
}

.mobile-menu {
    list-style: none;
    display: none;
     
}

.mobile-menu li {
    margin-right: 20px;
    
}


.mobile-menu a {
    text-decoration: none;
    color: white;
    padding: 5px;
    
}


.mobile-nav.active .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth; 
  }


@media (max-width:390px){
    .des_nav{
        display: none;
    }
    .caracteristicascontainer{
        flex-direction: column;
    }
    .herocontainer{
        flex-direction: column;

    }
    .herotitle{
        font-size: 0.5rem;
    }

    .grid_precios{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: none;
    }
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
    .menu_footer{
        align-items: center;
        font-size: 0.7rem;
    }
    .menu_footer li {
        margin: 0 05px; 
      }
      .mobile-nav {
        background-color: #2AD167;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
    .mobile-menu li{
        margin: 7px;
    }
      
}

