


































































































/*-------------------------------------------------------------------------------*/



.herocontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}
.caracteristicascontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*display: grid;
grid-template-columns: (3, 1fr);*/
}
.caracteristicasmail {
}
.caracteristicasanalytics {
}
.caracteristicaspeople {
}
.iconos {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  /*text-align: center;*/
  /*display: flex;*/
}
